

  <style>
  .custom {
	font-family: calibri;
	color: white;
	font-size:24;
}
.custom2 {
  height: 100px;
  opacity: 0.7;
  mix-blend-mode: undefined;
  font-family: calibri;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 1.6px;
  color: rgba(255, 255, 255, 0.7);
}
body {
    background-color: #121213;
	text-align: center;
}

.custom3 {
	font-family: calibri;
	color: white;
	font-size:16;
}

.center {
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  </style>

<%= image_tag 'background-logo.svg' %>

<div class="center">


    <h1 class="custom2" style="width:100%">Register a new pet record:</h1>


    <%= form_with scope: :pet, url:pets_path,  local: true do |form| %>
      <p class="custom3" >
        <%= form.label :Name %><br>
        <%= form.text_field :name %>
      </p>
       <br>
      <p class="custom3" >
        <%= form.label :Breed %><br>
        <%= form.text_field :breed %>
      </p>
        <br>
      <p class="custom3" >
        <%= form.label :Gender %><br>
        <%= form.text_field :gender %>
      </p>
        <br>
      <p class="custom3" >
        <%= form.submit %>
      </p>
    <% end %>

</div>


